typing_extensions>=4.9.0
streamlit
crewai>=0.80.0
langchain-openai>=0.2.0
openai>=1.50.0
pyyaml
sentence-transformers
langchain
langchain-community
langchain-huggingface
chromadb>=0.4.22
faiss-cpu
numpy
scikit-learn
python-dotenv
requests
huggingface
plotly
streamlit-modal
firebase-admin
