typing_extensions>=4.9.0
streamlit
crewai
pyyaml
sentence-transformers
langchain
langchain-community
langchain-openai
langchain-huggingface
chromadb>=0.4.22
faiss-cpu
numpy
scikit-learn
openai
python-dotenv
requests
huggingface
plotly
streamlit-modal
firebase-admin
